@import "../../App";

.card {
  background-color: $grey;
  border-radius: 30px;
  padding: 20px;

  &__info {

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    h4 {
      font-size: 16px;
    }
  }

  img {
    margin-left: auto;
    cursor: pointer;
  }
}