@import "../App";

.wrapper {
  h1 {
    font-weight: 700;
    margin-bottom: 50px;
  }

  .decl {
    margin: 40px 0;
    color: #cecece;
    font-weight: 700;
    line-height: 1rem;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 25px;
    margin: 25px 0;
  }

  .empty-list {
    color: $white;
    text-align: center;
    margin: 25px 0;
  }

  .user-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
    max-width: 60%;

    input, select {
      padding: 10px;
      border-radius: 10px;

      &:focus {

      }
    }

    .form-btn {
      margin-left: auto;
    }
  }
}