@import "../App";

.card {
  background-color: $grey;
  border-radius: 30px;
  padding: 20px;

  &__info {

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    h4 {
      font-size: 16px;
    }
  }

  a {
    margin-left: auto;
    cursor: pointer;
  }
}

.user-info {
  color: $white;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  .info-item {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      margin: 0;
      font-size: 20px;
      min-width: 250px;
      color: $grey;
    }
    h4 {
      margin: 0;
      font-size: 32px;
      font-weight: 700;
    }
  }
}

.user-btns {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .5s;

  &.active {
    opacity: 1;
    pointer-events: all;
    cursor: initial;
  }

  &__content {
    padding: 0 40px;
    border-radius: 12px;
    transform: scale(.5);
    transition: .4s all;
    width: 25vw;

    &.active {
      transform: scale(1);
    }
  }
}

.search {
  position: relative;
  display: inline-flex;
  align-items: center;

  .icon {
    position: absolute;
    margin-left: 10px;
  }

  .close {
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
  }

  &__input {
    width: 700px;
    height: 50px;
    padding-left: 60px;
    padding-right: 45px;
    border-radius: 9px;
    outline: none;
    font-size: 18px;
    border: none;
    transition: .2s linear;
    background-color: $grey;

    &::placeholder {
      color: rgb(190, 190, 191);
    }

    &:focus {
      transition: .2s linear;
      color: rgb(72, 73, 76);
      background-color: $white;

      &::placeholder {
        color: $grey;
      }
    }
  }

  &__icon-search {
    position: absolute;
    cursor: initial;

    &:hover {
      background-color: initial;
      fill: rgb(190, 190, 191);
      border-radius: 0;
    }
  }

  &__icon-close {
    position: absolute;
    right: 0;
  }
}

@media (max-width: 780px) {
  .search__input {
    width: auto;
  }
}

@media (max-width: 636px) {
  .user-info {
    .info-item {
      flex-direction: column;
      align-items: start;
    }
  }
}

@media (max-width: 535px) {
  .user-btns {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .search__input {
    width: 150px;
  }
}